@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --background-color: rgb(255, 255, 255);
  --grid-stroke : rgb(255, 0, 255);
}

html.dark {
  --background-color: rgb(4, 4, 4);
  --grid-stroke : rgb(50, 50, 50);
  color: #fff;
}

html {
  transition: background-color 0.3s, color 0.3s;
}

p {
  transition: background-color 0.3s, color 0.3s;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

img {
  transition: filter 1s;
}

/* ///////////////////////////////////// */
/* WEBSITE BACKGROUND STYLING */
/* //////////////////////////////////// */
.bg-grid {
  background-image: url('/light-grid.svg');
}

html.dark .bg-grid {
  background-image: url('/dark-grid.svg');
}